.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 auto; 
  width: 100%;   
}

.embla__slide2 {
  flex: 0 0 75px; 
  overflow: hidden;
  height: 75px;
  width: 75px;
  position: relative;
}

.embla2 {
  overflow: hidden;
  width: 100%;
}

.embla__container2 {
  height: 515px;
  transition: ease 0.1s;
}
